@use "@/styles/globals.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.title {
  font-size: 1.1rem;
  color: var(--quaternary-dark);
  margin-bottom: 1rem;
}

.spinner {
  font-size: 2rem;
  color: var(--tertiary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
